<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Element <br/><small>Description of the element</small>
				</h1>
			</div>
			<tabset>
				<tab heading="Questions">
					<ul class="question" ng-controller="ElementCtrl as elementCtrl">
						<li ng-repeat="question in elementCtrl.element.question">
							<a href="#/{{elementCtrl.element.app}}/{{elementCtrl.element.name}}/{{question.script}}">
								<span>{{question.script}}</span>
							</a>
						</li>
					</ul>
				</tab>
				<tab heading="Examples">
					<ul class="example" ng-controller="ElementCtrl as elementCtrl">
						<li ng-repeat="example in elementCtrl.element.example">
							<a href="#/{{elementCtrl.element.app}}/{{elementCtrl.element.name}}/{{example.script}}">
								<span>{{example.script}}</span>
							</a>
						</li>
					</ul>
				</tab>
				<tab heading="Notes">
					<ul class="page" ng-controller="ElementCtrl as elementCtrl">
						<li ng-repeat="page in elementCtrl.element.page">
							<a href="#/{{elementCtrl.element.app}}/{{elementCtrl.element.name}}/{{page.script}}">
								<span>{{page.script}}</span>
							</a>
						</li>
					</ul>
				</tab>
			</tabset>
		</div>
	</div>
</div>