<div class="container" ng-controller="QuestionCtrl as questionCtrl">
	<h3>
		<ul>
			<li>App: {{questionCtrl.questionBatch.app}}</li>
			<li>Topic: {{questionCtrl.questionBatch.topic}}</li>
			<li>Element: {{questionCtrl.questionBatch.element}}</li>
			<li>Name: {{questionCtrl.questionBatch.name}}</li>
			<li>Type: {{questionCtrl.questionBatch.type}}</li>
			<li>Level: {{questionCtrl.questionBatch.level}}</li>
		</ul>
		<div>
			<pre>
				{{questionCtrl.questionBatch.values}}
			</pre>
		</div>
	</h3>
</div>