<div ng-controller="AppNamesCtrl as appNamesCtrl" class="row clearfix">
	<div class="col-md-12 column">
		<div class="panel-group" id="panel-{{appName}}" ng-repeat="appName in appNamesCtrl.appNames">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span style="color:red;">Subject Name: </span>
					<a class="panel-title" data-toggle="collapse" data-parent="#panel-{{appName}}" data-target="#panel-element-{{appName}}">{{appName}}</a>
				</div>
				<div id="panel-element-{{appName}}" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul class="elements" ng-controller="ElementsCtrl as elementsCtrl">
							<li ng-repeat="element in elementsCtrl.elements">
								<span style="color:red;">Element Name: </span>
								<a ui-sref="elements({element:  {{element.name}}, app: {{appName}}  })">
									<span>{{element.name}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>