
<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="panel-group" id="panel-960198">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="panel-title" data-toggle="collapse" data-parent="#panel-960198" data-target="#panel-element-579250">Fractions</a>
				</div>
				<div id="panel-element-579250" class="panel-collapse collapse in">
					<div ng-controller="ElementsCtrl as elementsCtrl" class="panel-body">
						<ul class="elements">
							<li ng-repeat="element in elementsCtrl.elements">
								<a href="#/{{element.app}}/{{element.element}}/{{element.name}}">
									<span>{{element.name | questionName}}</span>
									<span style="padding-left:1em;">{{element.level}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>